#app {
}
header {
    margin: 10px 10px 0px 10px;
}
.list {
    display: flex;
    flex-wrap: wrap;

    > .card {
        // flex: 1;
        margin: 5px;
        transition: all 0.25s;
        cursor: pointer;

        &:hover {
            filter: brightness(85%);
        }
    }
}
