@tailwind base;
@tailwind components;
@tailwind utilities;

// https://buefy.org/documentation/customization
// variables: https://bulma.io/documentation/overview/variables/
// @import './scss/bulma.scss';
@import './scss/bulma-dark-theme.scss';

#app {
    min-height: 100vh;
    color: #fff;

    // max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;

    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    font-family: var(--font-family);
    color: #fff;

    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
